<section id="login">
    <div class="container">
        <div class="row">
            <div class="form-wrap  col-sm-4 col-xs-12">
                <h1>User Login</h1>
                <form role="form" name="loginForm" method="post" id="login-form">
                    <div class="form-group">
                        <label for="email">Username</label>
                        <input  type="text" name="text" id="email" class="form-control" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label for="key">Password</label>
                        <input type="password" name="key" id="key" class="form-control" placeholder="Password">
                    </div>
                    <button class="btn btn-custom btn-info btn-lg col-sm-12 col-xs-12" >Log in</button>
                </form>
                <hr>
            </div> <!-- /.col-xs-12 -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</section>